* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #4a4e69;

  --light-gray: #8e9aaf;

  --header-pink: #cbc0d3;

  --light-blue: #eff1ff;

  --light-pink: #feeafa;

  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-heading: 4rem;
}

body {

  font-size: 1.6rem;
  position: relative; 
  color: var(--light-gray);
  background: #E5E5E5;
}

header {
  position: relative;
  width: 384px;
  height: 279px;
  background: #8E9AAF;
  
}

#img {
  
  position: relative;
  width: 137px;
  height: 137px;
  left: 124px;
  top: 32px;
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));

}

header h1 {
  position: absolute;
  width: 384px;
  height: 49px;
  top: 201px;
  font-family: 'Staatliches', sans-serif;
  font-style: normal;
  text-align: center;
  font-size: clamp(3.5rem, 1rem + 3vw, 4.6rem);
  line-height: 5rem;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: var(--header-pink);

}

main p {
  font-family: 'Palanquin', sans-serif;
  color: #23053A;
  height: 75px;
  line-height: 15px; 
  text-align: center;
  margin-top: 5rem;

}

main {
  display: grid;
  gap: 3.2rem;
  padding-bottom: 10rem;
  animation: downtop 700ms 350ms backwards;
  
}

img {
  width: 100%;
  height: auto;
}

.card-Wrapper {
  width: 384px;
  height: 1998px;
  margin:  0 auto;
  background: #EFF1FF;
  
}

p + .card {
  margin-top: 1rem;
}

.card2 {
  position: relative;
  margin: auto;
  width: 100%;
  transition: transform 250ms ease-in-out;
  
}

.card {
  position: relative;
  margin: auto;
  width: 100%;
  transition: transform 250ms ease-in-out;

}

.card img {
  Width: 320px;
  Height: 250px;
  align-items: center;
  margin-left: 32px;
  filter: brightness(0.5);
  border-radius: 20px;
  transition: all 200ms;
}

.card2 img {
  Width: 320px;
  Height: 450px;
  align-items: center;
  margin-left: 32px;
  object-fit: cover;
  filter: brightness(0.5);
  border-radius: 20px;
  transition: all 200ms;
}


.card2  img:hover {
  transform: scale(1.1);
  opacity: 0.4;
}

.card  img:hover {
  transform: scale(1.1);
  opacity: 0.4;
}

.card2 h2 {
  font-family: 'Staatliches', cursive;
  font-weight: bold;
  color: var(--dark-blue);
  text-align: center;
  font-size: 2rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  background: var(--light-pink);
  border-radius: 2rem;
  position: absolute;
  width: 11.2rem;
  height: 3.5rem;
  top: 1.6rem;
  right: 2.6rem;
  margin-right: 1.6rem;
}


.card h2 {
  font-family: 'Staatliches', cursive;
  color: var(--dark-blue);
  text-align: center;
  font-size: 2rem;
  line-height: 3.5rem;
  letter-spacing: 0.05em;
  background: var(--light-pink);
  border-radius: 2rem;
  position: absolute;
  width: 11.2rem;
  height: 3.5rem;
  top: 1.6rem;
  right: 2.6rem;
  margin-right: 1.6rem;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }

} 

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
} 
