* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #4a4e69;
  --light-gray: #8e9aaf;
  --header-pink: #cbc0d3;
  --light-blue: #eff1ff;
  --light-pink: #feeafa;

  font-size: 62.5%;
}



body {
  font-size: 1.6rem;
  background-color: var(--light-blue);
  position: relative;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--light-gray);
  height: 28rem;
  width: 100vw;
  z-index: -1;
}

.page-wrapper {
  padding-bottom: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

header {
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 4rem 0;
  width: 100vw;
}

header h1 {
  font-family: 'Staatliches', cursive;
  text-align: center;
  font-size: clamp(3.5rem, 1rem + 3vw, 4.6rem);
  line-height: 5rem;

  letter-spacing: 0.05em;

  color: #ffffff;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  background-color: var(--header-pink);
  width: 100%;
}

header p {
  font-family: 'Palanquin', sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;

  color: hsla(274, 84%, 12%, 1);

  padding: 4rem 3rem 0;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin: auto;
  text-align: center;
  width: 95%;
  padding: 2rem 2rem 0;
}

.card-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 3rem;
}

.card {
  position: relative;
  margin: auto;
  width: 100%;
  transition: transform 250ms ease-in-out;
}

p + .card {
  margin-top: 1rem;
}

.card img {
  width: 95%;

  border-radius: 2rem;
}

.card-title {
  font-family: 'Staatliches', cursive;
  color: var(--dark-blue);
  font-size: 2rem;
  line-height: 3.5rem;
  letter-spacing: 0.05em;

  background: var(--light-pink);
  border-radius: 2rem;

  position: absolute;
  width: 11.2rem;
  height: 3.5rem;
  top: 1.6rem;
  right: 2.6rem;

  margin-right: 1.6rem;
}

footer {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
  padding-top: 3rem;
  color: #4a4e69;
  display: block;
  margin: 10px auto 0;
  position: relative;
  bottom: 0;
}

.card:nth-child(1) {
  animation: slideup 550ms 150ms backwards;
}
.card:nth-child(2) {
  animation: slideup 550ms 300ms backwards;
}
.card:nth-child(3) {
  animation: slideup 550ms 450ms backwards;
}
.card:nth-child(4) {
  animation: slideup 550ms 600ms backwards;
}
.card:nth-child(5) {
  animation: slideup 550ms 750ms backwards;
}
.card:nth-child(6) {
  animation: slideup 550ms 900ms backwards;
}

.card:hover .card-title {
  animation: stretchLetters 550ms forwards;
}

.card:hover {
  transform: scale(1.05);
}

@keyframes slideup {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes stretchLetters {
  0% {
    letter-spacing: normal;
  }
  50% {
    letter-spacing: 0.3rem;
  }

  100% {
    letter-spacing: normal;
  }
}

@media screen and (min-width: 600px) {
  .card-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .card img {
    height: 40rem;
    object-fit: cover;
  }
}

@media screen and (min-width: 980px) {
  body {
    width: 100vw;
  }

  body::after {
    min-height: 100%;
    max-width: 32vw;
  }

  .page-wrapper {
    flex-direction: row;
  }

  header {
    max-width: 32vw;
    height: 100%;
    gap: 2rem;
    align-self: center;
  }

  header p {
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding-top: 1rem;
    color: #ffffff;
  }

  .card-wrapper {
    margin: auto;
    width: 60vw;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'picole1 picole2 picole5'
      'picole4 picole2 picole6'
      'picole4 picole3 picole6';
  }

  main div:nth-child(1) {
    grid-area: picole1;
  }
  main div:nth-child(2) {
    grid-area: picole2;
  }
  main div:nth-child(3) {
    grid-area: picole3;
  }
  main div:nth-child(4) {
    grid-area: picole4;
  }
  main div:nth-child(6) {
    grid-area: picole5;
  }
  main div:nth-child(6) {
    grid-area: picole6;
  }

  .card img {
    height: auto;
    min-height: 21rem;
  }

  footer {
    padding: 0;
  }
}
